

.maincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27ae60;
  height: 100vh;
  background-size: cover;
}

.box{
  width: 800px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;

}

.tablebox{
  margin-top:150px;
  width: 1300px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  
}

.heading{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #27ae60;
}

.btnstyle{
  display: flex;
  align-items: center;
  justify-content: center;
}